@import 'fonts.scss';
$blue: #1c75bc;
$red: #ef4136;
$gray-1: #DFDFDF;
$gray-2: #505050;

//utility classes
.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

html, body {
  margin: 0 20px;
  padding: 0;
}

h1, h2, h3, h4, h5, p, span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;

  @media screen AND (min-width: 550px) {
    font-size: 22px;
  }

  @media screen AND (min-width: 768px) {
    font-size: 30px;
  }
}

.number {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin: auto;
  max-width: 800px;
  overflow: hidden;
}

#header {
  //background-image: URL('/assets/subaru.jpg');
  background-image: url('https://raw.githubusercontent.com/particleshift/autosensorhub/master/dist/assets/subaru.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  height: 200px;
  padding: 20px;
  position: relative;

  img {
    display: none;
  }

  .logo, h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo {
    float: left;
    height: 120px;
    width: auto;
  }

  h1 {
    float: left;
    margin: 0 140px 0;
  }
}

.section-header {
  align-items: center;
  background-color: $gray-2;
  box-shadow: 0px -5px 15px 0px rgba(0,0,0,.5);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 22px; // this + 30px = height
  height: 52px; // height = font-size + 30px
  line-height: 1;
  position: relative;
  z-index: 1;

  h2, span {
    font-size: inherit;
    line-height: inherit;
  }

  h2 {
    background-color: $blue;
    color: white;
    padding: 15px 30px 15px 20px;
    position: relative;

    &::before {
      border-color: transparent transparent transparent $blue;
      border-style: solid;
      border-width: 26px 0 26px 20px; // top & bottom = 1/2 of section-header height
      content: '';
      height: 0;
      position: absolute;
      right: -20px;
      top: 0;
      width: 0;
    }
  }

  span {
    margin-left: 35px;
  }
}

.box-container {
  display: flex;
  flex-direction: column;

  @media screen AND (min-width: 550px) {
    flex-direction: row;
  }

  img { width: 100%; }

  .img-box {
    overflow: hidden;

    img {
      transition: all .25s ease-out;

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }
  }
}

.fifty-fifty {
  div {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @media screen AND (min-width: 550px) {
      width: 50%;
    }
  }
}

.point-right {
  div:first-child::before {
    border-color: transparent transparent transparent transparent;
    border-left-color: inherit;
    border-style: solid;
    border-width: 40px 0 40px 40px;
    content: '';
    height: 0;
    position: absolute;
    right: -39px;
    width: 0;
    z-index: 1;

    @media screen AND (max-width: 549px) {
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 60px, 0) rotate(90deg);
    }
  }
}

.point-left {
  div:first-child {
    order: 2;

    @media screen AND (min-width: 550px) { order: 0; }
  }

  div:last-child::before {
    border-color: transparent transparent transparent transparent;
    border-right-color: $gray-1;
    border-style: solid;
    border-width: 40px 40px 40px 0;
    content: '';
    height: 0;
    position: absolute;
    left: -39px;
    width: 0;
    z-index: 1;

    @media screen AND (max-width: 549px) {
      bottom: 0;
      left: 50%;
      transform: translate3d(-50%, 60px, 0) rotate(270deg);
    }
  }
}

.text-box {
  box-sizing: border-box;
  padding: 40px 15px;

  @media screen AND (min-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen AND (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.no-img {
  div {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen AND (min-width: 550px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    @media screen AND (min-width: 768px) {
      padding-bottom: 100px;
      padding-top: 100px
    }
  }
}

.compatibility {
  flex-direction: column;

  > div:first-child {
    background-color: $gray-1;
    color: black;
    padding: 40px;
    position: relative;

    &::before {
      border-color: $gray-1 transparent transparent transparent;
      border-style: solid;
      border-width: 30px 40px 0 40px;
      bottom: -30px;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 0;
    }
  }

  > div:last-child {
    display: flex;
    flex-direction: column;

    .alphabet-box {
      padding: 40px 20px;

      span {
        border-bottom: 1px solid $red;
        color: $red;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 1px;
        padding: 0 10px;
      }
    }

    @media SCREEN and (min-width: 767px) {
      flex-direction: row;

      .alphabet-box { width: 50%; }
    }
  }
}


.background-blue {
  background-color: $blue;
  border-color: $blue;
  color: white;
}

.background-gray {
  background-color: $gray-1;
  border-color: $gray-1;
  color: black;
}
