@import 'fonts.scss';
$blue: #1c75bc;
$red: #ef4136;
$gray-1: #DFDFDF;
$gray-2: #505050;

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

html, body {
  margin: 0 20px;
  padding: 0;
}

h1, h2, h3, h4, h5, p, span {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
}

.number {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  margin: auto;
  max-width: 800px;
}

#header {
  //background-image: URL('/assets/subaru.jpg');
  background-image: url('https://raw.githubusercontent.com/particleshift/autosensorhub/master/dist/assets/subaru.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  height: 200px;
  padding: 20px;
  position: relative;

  img {
    display: none;
  }

  .logo, h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo {
    float: left;
    height: 120px;
    width: auto;
  }

  h1 {
    float: left;
    margin: 0 140px 0;
  }
}

.section-header {
  background-color: $gray-2;
  //border-bottom: 2px solid $gray-1;
  border-top: 2px solid $gray-1;
  color: white;
  display: flex;
  font-size: 22px; // this + 30px = height
  line-height: 1;
  height: 52px; // height = font-size + 30px
  flex-direction: row;
  align-items: center;

  h2, span {
    font-size: inherit;
    line-height: inherit;
  }

  h2 {
    background-color: $blue;
    color: white;
    padding: 15px 30px 15px 20px;
    position: relative;

    &::before {
      border-color: transparent transparent transparent $blue;
      border-style: solid;
      border-width: 26px 0 26px 20px; // top & bottom = 1/2 of section-header height
      content: '';
      height: 0;
      position: absolute;
      right: -20px;
      top: 0;
      width: 0;
    }
  }

  span {
    margin-left: 35px;
  }
}

.box-container {
  display: flex;

  img { width: 100%; }

  &.fifty-fifty {
    div {
      align-items: center;
      background-color: $blue;
      color: white;
      display: flex;
      justify-content: center;
      position: relative;
      width: 50%;
    }

    div:last-child {
      background-color: $gray-1;
      color: black;
    }

    &.point-right {
      div:first-child::before {
        border-color: transparent transparent transparent $blue;
        border-style: solid;
        border-width: 40px 0 40px 40px;
        content: '';
        height: 0;
        position: absolute;
        right: -40px;
        width: 0;
        z-index: 1;
      }
    }

    &.point-left {
      div:last-child {

        &::before {
          border-color: transparent $gray-1 transparent transparent;
          border-style: solid;
          border-width: 40px 40px 40px 0;
          content: '';
          height: 0;
          position: absolute;
          left: -40px;
          width: 0;
          z-index: 1;
        }
      }
    }

    &.no-img {
      div {
        background-color: $gray-1;
        color: black;
        padding: 100px 40px;
      }

      div:last-child {
        background-color: $blue;
        color: white;
      }
    }
  }

  &.point-down {
    flex-direction: column;

    > div:first-child {
      background-color: $blue;
      color: white;
      padding: 40px;
      position: relative;

      &::before {
        border-color: $blue transparent transparent transparent;
        border-style: solid;
        border-width: 30px 40px 0 40px;
        bottom: -30px;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 0;
      }
    }

    > div:last-child {
      display: flex;
      flex-direction: column;

      .alphabet-box {
        padding: 40px 20px;

        span {
          color: $red;
          font-size: 24px;
        }
      }

      @media SCREEN and (min-width: 767px) {
        flex-direction: row;

        .alphabet-box { width: 50%; }
      }
    }
  }
}
